﻿body, div, ul, li {
background-color: aquamarine;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
}

div, ul, li {
padding: 0;
margin: 0;
}

#nav {
text-align: center;
}

#nav ul {
display: inline-block;
list-style: none;
}

#nav li {
display: inline;
}

#nav a {
float: left;
text-decoration: none;
padding: 0 30px;
}

#nav, ul, li, a {
font-size: 17px;
font-weight: bold;
line-height: 40px;
padding: 8px 20px;
}

a:hover {
background-color: yellow;
}

a:active {
color: red;
}

footer {
text-align: center;
}

.mybtn {
background: black;
border: solid 1px grey;
font-family: Georgia;
font-size: 12px;
font-weight: bold;
color: white;
height: 25px;
}

.mybtn:hover {
color: yellow;
}

footer {
height: 40px;
padding-top: 20px;
background-color: black;
color: white;
border-radius: 5px 5px 5px 5px;
}
