﻿<%@ Control Language="C#" Inherits="final_project.Menu" %>

<asp:SqlDataSource runat="server" id="pages_select" ConnectionString="<%$ ConnectionStrings:final_sql_con %>">
</asp:SqlDataSource>
<ul runat="server" id="menucontainer">
</ul>